<h1>👋 I'm Cian</h1>
<p>
  I work as a Software Engineer at <a href="https://edgescan.com">edgescan</a>.
</p>
<h3>Background</h3>
<p>
  I studied Computer Science at <a href="https://tcd.ie">Trinity College Dublin</a>,
  where I achieved a Master's Degree in Computer Science. My dissertation revolved
  around designing efficient firmware update protocols for low power devices on the 
  Internet of Things. More info <a href="/research">here</a>.
</p>
<h3>Portfolio</h3>
<p>
  I make any code I write of any significance (including the code for my Master's dissertation)
  public on <a href="https://github.com/guineec">my github page</a>. The code for this
  site can also be found there.    
</p>
<div class="flex-row top-margin">
  <img src="/images/me_wedding.png" class="bio-image">
  <div class="flex-column left-margin">
    <h3>Contact Info</h3>
    <p>
      The easiest way to get in contact is to email me at 
      <a href="mailto:cian.guinee@gmail.com">cian.guinee@gmail.com</a>
    </p>
  </div>
</div>
