<h1>Quartet</h1>
<h2>Database backed Sinatra app generator</h2>
<p>
  <a href="https://github.com/guineec/quartet">Quartet</a> is a generator for database backed
  Sinatra apps.
</p>
<p>
  It combines Sinatra, ActiveRecord and MySQL to lay out a framework for creating lightweight 
  web apps. Interact with ActiveRecord via included rake tasks to modify the database in the
  same way as rails apps.
</p>
<h3>Dependencies</h3>
<p>
  Quartet just combines different tools available and generates a basic project file structure. Full credit
  due to these tools!
</p>
<p>
  The libraries it uses are:
  <ul class="links bulleted">
    <li><a href="http://sinatrarb.com/">Sinatra</a></li>
    <li><a href="https://github.com/sinatra-activerecord/sinatra-activerecord">sinatra-activerecord</a></li>
    <li><a href="https://github.com/brianmario/mysql2">mysql2</a></li>
  </ul>
</p>
<h3>Install & Run</h3>
<p>
  Quartet is a <a href="https://rubygems.org/gems/quartet">ruby gem</a>, and can be installed by running:
</p>
<code>gem install quartet</code>
<p>
  Then, to generate an app called 'test_app', just run:
</p>
<code>quartet test_app</code>
<p>Thats it!</p>
<h3>Code</h3>
The code for this gem is all available on <a href="https://github.com/guineec/">github</a>.
