<h1>Research</h1>
<h2>Efficient Firmware Updates over LoRa LPWAN</h2>
<h3>Dissertation</h3>
<p>
  In 2019, as part of my Master's, I undertook research into improving firmware updating protocols
  for low power devices on the Internet of Things over the LoRa low power network.
</p>
<h4>The resulting dissertation can be read <a href="https://www.scss.tcd.ie/publications/theses/diss/2019/TCD-SCSS-DISSERTATION-2019-013.pdf">here</a>.</h4>
<h3>Code</h3>
<p>
  The code used for this research is available in the following repositories:
  <ul class="links bulleted">
    <li><a href="https://github.com/guineec/fwupdatelib">fwupdatelib</a> - C library for use on low power devices</li>
    <li><a href="https://github.com/guineec/lora-fwupdate-python">Python repo</a> - protocol servers & low power device emulation</li>
  </ul>
</p>
